<% title @gallery.name %>
<style>
  .modify{
      background-color: lightgray;
      color: #1a6493
  }
  .gallery_console{
      background-color: lightgray;
      color: red;
  }

  #comment_area{
      width:660px;
      height: 100px;
      border-color: lightblue;
  }
  #text_area{
      float: left ;
      clear:both;
      width:510px;
      font-size: 16px;

  }
  #commentbtn{
      float: left ;
      clear:both;
      font-size: 16px;
  }
</style>
<div id="photos">
  <% for photo in @gallery.photos %>
   <div class="photo">
     <%= image_tag photo.image_url(:thumb) if photo.image? %>
     <div class="name"><%= photo.name %> by <%= @gallery.owner %> </div>
     <% if session[:userName] == @gallery.owner %>
     <div class="actions">
       <%= link_to "edit", edit_photo_path(photo), :class=>"modify" %> |
       <%= link_to "remove", photo, :confirm => 'Are you sure?', :method => :delete, :class=>"modify" %>
     </div>
     <% end %>
   </div>
  <% end %>
  <div class="clear"></div>
</div>
<p>
  <% if session[:userName] == @gallery.owner %>
      <%= link_to "Add a Photo", new_photo_path(:gallery_id => @gallery), :class=>"gallery_console" %> |
      <%= link_to "Remove Gallery", @gallery, :confirm => 'Are you sure?', :method => :delete, :class=>"gallery_console" %> |
  <% end %>
  <%= link_to "View Galleries", galleries_path, :class=>"gallery_console" %>
</p>

<div id="comment">
  <%=render @gallery%>
</div>

<!--Make Comment-->
<%=form_tag galleries_path,:remote => true, :method => 'get' do %>
    <p>
      <span style="float:left;clear:both;color:#000000;margin-top: 10px;font-size: 20px;font-family: "Times New Roman";">Make Review:</span>
      <%= text_area_tag :comment, params[:comment],:cols => "90", :rows => "5" ,:id =>"text_area"%>
      <%= hidden_field_tag 'id', @gallery.id %>
      <%= submit_tag "Comment", :name => nil,:id =>"commentbtn" %>
    </p>
<% end %>



